<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTubeVideoDownload</title>
    <link rel="stylesheet" href="./static/index.css">
</head>
<body>
    <div class="container">
        <div class="h1">
            <h1>YouTube Video Downloader</h1>
        </div>
            <p class="para">Paste the copied YouTube Video link below and wait for some time. When video appears click on three dots then press download</p>
        <form class="box" action="/download/" method="post">
            <input type="url" name="url" id="input" placeholder=" Paste Link Here!!! ">
            <button id="btn" type="submit"> Download </button>
        </form>
    </div>
</body>
</html>